<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI RESTAURANT - 맛집 목록</title>
</head>

<body>

<main class="restaurant-page">

    <!-- 페이지 제목 -->
    <section class="page-title">

        <div>
            <span>AI RESTAURANT</span>

            <h1>
                맛집 찾기
            </h1>

            <p>
                원하는 지역과 음식 종류를 선택해보세요!
            </p>
        </div>

    </section>


    <!-- ================= SEARCH ================= -->
    <section class="search-area">

        <div class="search-box">

            <span>📍</span>
            <form method="post" action="/food/list">

            <input
                type="text"
                placeholder="지역 또는 맛집 이름을 입력하세요."
                name="search"
            >

            <button type="submit">
                검색
            </button>
			</form>
        </div>

    </section>

    <!-- ================= LIST HEADER ================= -->
    <section class="list-header">

        <div>
            <strong>맛집 목록</strong>
            <span>총 [[${count}]]개의 맛집</span>
        </div>

        <select>
            <option>추천순</option>
            <option>평점순</option>
            <option>리뷰순</option>
            <option>거리순</option>
        </select>

    </section>


    <!-- ================= RESTAURANT LIST ================= -->
    <section class="restaurant-list">

        <!-- 01 -->
        <article class="restaurant-card" th:each="vo:${list}">

            <div class="restaurant-image sushi">
                <img th:src="${vo.poster}">
            </div>
			
            <div class="restaurant-info">

                <div class="rating">
                    ⭐ [[${vo.score}]]
                </div>

                <h3>
                    [[${vo.name}]]
                </h3>

                <p>
                    [[${vo.type}]]
                </p>

                <div class="tags">
                    <span>[[${vo.theme}]]</span>
                </div>

                <button>
                    자세히 보기 →
                </button>

            </div>

        </article>

    </section>


    <!-- ================= PAGINATION ================= -->
    <nav class="pagination">

        <a class="page-arrow" th:if="${startPage>1}"
        	th:href="@{/food/list(page=${startPage-1})}"
        >
            ‹
        </a>

        <a th:class="${i==curpage?'page active':'page'}" 
        	th:each="i:${#numbers.sequence(startPage, endPage)}"
        	th:href="@{/food/list(page=${i})}"
        >
            [[${i}]]
        </a>

        <a class="page-arrow" th:if="${endPage<totalpage}"
        	th:href="@{/food/list(page=${endPage+1})}"
        >
            ›
        </a>

    </nav>

</main>

</body>
</html>