<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header class="header">
		<!-- 로고 -->
		<a href="../index.html" class="logo"> <span>📍</span> AI
			RESTAURANT
		</a>

		<!-- 메인 메뉴 -->
		<nav>

			<!-- 맛집 찾기 -->
			<div class="nav-item">
				<a href="#">맛집 찾기</a>

				<div class="sub-menu">
					<a href="/food/list">맛집</a> 
					<a href="#">맛집 검색</a> 
					<a href="#">AI 맛집 추천</a> 
				</div>
			</div>

			<!-- 지역별 -->
			<div class="nav-item">
				<a href="#">레시피</a>

				<div class="sub-menu">
					<a href="#">레시피</a> 
					<a href="#">쉐프</a> 
					<a href="#">AI 레시피</a> 
				</div>
			</div>

			<!-- 음식별 -->
			<div class="nav-item">
				<a href="#">여행</a>

				<div class="sub-menu">
					<a href="#">여행</a> 
					<a href="#">여행코스</a>
				</div>
			</div>

			<!-- AI 추천 -->
			<div class="nav-item">
				<a href="#">AI 추천</a>

				<div class="sub-menu">
					<a href="#">AI 맛집 추천</a> 
					<a href="#">내 취향 추천</a> 
					<a href="#">메뉴 추천</a> 
					<a href="#">데이트 맛집</a>
				</div>
			</div>
			
			<div class="nav-item">
				<a href="#">커뮤니티</a>

				<div class="sub-menu">
					<a href="#">자유게시판</a> 
					<a href="#">챗봇</a> 
				</div>
			</div>
			

		</nav>

		<!-- 로그인 -->
		<button class="login-btn">로그인</button>

	</header>
</body>
</html>