
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI RESTAURANT</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/food_list.css">
</head>

<body>
	<div class="restaurant-page">
		<th:block th:include="main/header"></th:block>
		<th:block th:include="${main_html}"></th:block>
		<th:block th:include="main/footer"></th:block>
	</div>
</body>
</html>
